$light_theme_color: rgb(209, 209, 209);
$dark_theme_color: rgb(26, 26, 26);

.asideDashboardNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 0%;

  @media screen and (min-width: 361px) {
    padding: 3% 0%;
  }

  @media screen and (min-width: 769px) {
    padding: 1% 0%;
  }

  a {
    font-size: 18px;
  }

  &__dark-theme {
    background-color: $dark_theme_color;

    a {
      color: $light_theme_color;
    }
  }

  &__light-theme {
    background-color: $light_theme_color;

    a {
      color: $dark_theme_color;
    }
  }
}

.activeSideNavLink {
  &__dark-theme {
    border-bottom: 1px solid $light_theme_color;
  }

  &__light-theme {
    border-bottom: 1px solid $dark_theme_color;
  }
}
