@import "../components/asideDashboardNav";

.dashboardMain {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.dashboardInfo {
  background-color: $dashboardBackGround;
  border-radius: $dashboardBorderRadiusMain;
  padding: 2%;
  margin: 0% 3%;
}
