.navbar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 1%;
  backdrop-filter: blur(40.7742px);
  background: rgba(97, 97, 97, 0.06);

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__dark-theme {
      color: white;

      a {
        color: white;
      }
    }

    &__light-theme {
      color: rgba(11, 13, 23, 1);
      a {
        color: rgba(11, 13, 23, 1);
      }
    }

    @media screen and (max-width: 768px) {
      width: 25%;
      margin: 0% 5%;
    }

    &--links {
      display: flex;
      flex-direction: row;
      z-index: 100;
      width: 100%;
      align-items: center;
      padding-left: 5%;
      justify-content: space-around;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        position: absolute;
        width: 100vw;
        top: 11vh;
        height: 50vh;
        align-items: center;
        justify-content: center;
        right: 0;

        &__dark-theme {
          background-color: rgba(12, 16, 24);

          @media screen and (max-width: 768px) {
            box-shadow: 0px 4px 5px rgb(40, 39, 39);
          }
        }

        &__light-theme {
          background-color: rgba(225, 222, 222);

          @media screen and (max-width: 768px) {
            box-shadow: 0px 4px 5px rgb(154, 154, 154);
          }
        }

        a {
          margin: 5% 0%;
        }
      }
    }

    &--link {
      text-transform: uppercase;

      &__dark-theme.active {
        border-bottom: 1px solid white;
      }
    }

    &--link {
      &__light-theme.active {
        border-bottom: 1px solid rgba(11, 13, 23, 1);
      }
    }

    &__dark-theme {
      a {
        color: white;
      }
    }

    &__light-theme {
      a {
        color: rgba(11, 13, 23, 1);
      }
    }
  }
}

.secondNavbar {
  background: rgba(72, 72, 72, 0.2);

  &__dark-theme {
    color: white;

    a {
      color: white;
    }
  }

  &__light-theme {
    color: rgba(11, 13, 23, 1);

    a {
      color: rgba(11, 13, 23, 1);
    }
  }

  &__menuBtn {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      margin-left: 1%;
    }
  }

  &__navigation {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0.5% 2%;
    width: 100%;

    &__dark-theme {
      background: #171a28;
      @media screen and (max-width: 768px) {
        box-shadow: 0px 4px 5px rgb(40, 39, 39);
      }
    }

    &__light-theme {
      background: #d8d9da;
      @media screen and (max-width: 768px) {
        box-shadow: 0px 4px 5px rgb(154, 154, 154);
      }
    }

    a {
      margin: 0% 2%;
      font-size: clamp(18px, 1rem, 24px);

      @media screen and (max-width: 768px) {
        margin: 5% 0%;
      }
    }

    @media screen and (max-width: 768px) {
      position: absolute;
      padding: 10% 0%;
      flex-direction: column;
      align-items: center;
    }
  }
}
