@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

@import "./vars/index";
@import "./components/themeBtn";
@import "./components/navbar";

@import "./dashboard/mainDashboard";
// @import "./components/input";
// @import "./components/authForm";
// @import "./pages/dashboardStyle";

// @import "./logo/logo";
@import "./loader/loader";

body {
  width: clamp(250px, 100%, 1440px);
  margin: 0% auto;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

.dark-body {
  background-color: $dark-theme-main;
  // background-image: url("../images/backgound/programming-dark.png");
}

.light-body {
  background-color: $light-theme-main;
  // background-image: url("../images/backgound/programming-light.png");
}

#root {
  background-image: url("../images/backgound/programming-dark.png");
  background-position: top right;
  background-repeat: no-repeat;
  // background-size: 65% 100%;
  background-size: auto;
  height: 100vh;
}
