@import "./Vars/index";
@import "./Mixin/index";

body {
  width: clamp(250px, 100%, 1440px);
  margin: 0% auto;
  font-family: "Rubik", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

.dark-body {
  background-color: $dark-theme-main;
}

.light-body {
  background-color: $light-theme-main;
}

#root {
  height: 100vh;
}

.root-background-img {
  background-image: url("../images/backgound/desktop/programming-dark-desktop.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;

  @media screen and (max-width: 768px) {
    background-image: url("../images/backgound/mobile/programming-dark-mobile.png");
    background-size: 100%;
  }
}

@import "./components/loader/loader";

@import "./components/navigation/navbar/navbar";
@import "./components/navigation/logo/logo";
@import "./components/themeBtn/themeBtn";
@import "./components/auth/auth";
