$main-header: 48px;
$inputs-radius: 1.2rem;
$form-radius: 1.5rem;

$light-theme-btn-color: #050f52;
$dark-theme-btn-color: #9399c6;

$light-theme-input-color: #ffffff;
$dark-theme-input-color: #9399c6;

$placeholder-color: #454c7c;

$dark-theme-main: #060b33;
$light-theme-main: #ffffff;
