@import "./titlesPage";

.mainPage {
  width: clamp(250px, 60%, 600px);
  margin: 5% 0% 0% 3%;

  &--light-theme {
    color: rgba(11, 13, 23, 1);
  }

  &--dark-theme {
    color: #b7b4b4;
  }

  &__header {
    &--light-theme {
      color: #8a18f0;
    }
    &--dark-theme {
      color: #d0d6f9;
    }
  }

  &__intoParag {
    font-size: clamp(19px, 1.2vw, 30px);
  }

  //   &__links-to-study {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;

  //     @media screen and (max-width: 768px) {
  //       flex-direction: column;
  //       align-items: flex-start;
  //     }

  //     a {
  //       position: relative;
  //       cursor: pointer;
  //       line-height: 1;

  //       //   @media screen and (max-width: 768px) {
  //       //     margin: 5% 0%;
  //       //     padding: 0% 5%;
  //       //     border-left: 4px solid black;
  //       //     line-height: 0.5;
  //       //   }

  //       &::after {
  //         display: block;
  //         position: absolute;
  //         left: 0;
  //         width: 0;
  //         height: 2px;
  //         // background-color: #00a650;
  //         content: "";
  //         transition: width 0.2s ease-out;
  //       }

  //       &:hover:after,
  //       &:focus:after {
  //         width: 100%;
  //       }
  //     }
  //     // &--light-theme {
  //     //   @media screen and (max-width: 768px) {
  //     //     a {
  //     //       border-left: 3px solid black;
  //     //     }
  //     //   }

  //     //   a::after {
  //     //     background-color: #8a18f0;
  //     //   }
  //     // }

  //     // &--dark-theme {
  //     //   @media screen and (max-width: 768px) {
  //     //     a {
  //     //       border-left: 3px solid rgb(249, 249, 249);
  //     //     }
  //     //   }

  //     //   a:hover {
  //     //     background-color: white;
  //     //   }
  //     // }
  //   }
}
