.titlesPage {
  //   background-color: aqua;
  width: clamp(250px, 95%, 1350px);
  margin: 2% auto;
  height: 75vh;

  h1 {
    color: #9319f0;
  }

  &__questions {
    // /* width */
    // ::-webkit-scrollbar {
    //   width: 50px;
    // }

    // /* Track */
    // ::-webkit-scrollbar-track {
    //   background: yellow;
    // }

    // /* Handle */
    // ::-webkit-scrollbar-thumb {
    //   background: red;
    // }

    // /* Handle on hover */
    // ::-webkit-scrollbar-thumb:hover {
    //   background: blue;
    // }

    // background: rgba(234, 234, 235, 0.8);
    height: 68vh;
    display: grid;
    gap: 5% 4%;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0% 1%;

    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    // @media screen and (max-width: 360px) {
    //   grid-template-columns: repeat(1, 1fr);
    // }

    &--links {
      display: flex;
      //   background-color: beige;
      height: 80px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      font-size: clamp(20px, 1.4rem, 25px);

      &--light-theme {
        background: rgba(234, 234, 235, 0.8);
        color: #0b0d17;
      }

      &--dark-theme {
        background: rgba(255, 255, 255, 0.04);
        color: #ffffff;
      }
    }
  }
}
